@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 17.5px;
    color: black;
}
.logo{
    font-size: 22px;
    font-weight: bolder;
}
.logo:hover{
    color: blue;
    transition: ease-in-out;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 160px;
    gap: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px grey;
}
.navbar a:nth-of-type(2){
    margin-left: auto;
}
.navbar a:nth-of-type(4){
    color: white;
    background-color: blue;
}
